.TabView {
  overflow: hidden;
  position: relative;
}

.TabView ul,
.TabView  li,
.TabView--View--Content {
  padding: 0;
  margin: 0;
}

.TabView:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 18.5%;
}

.TabView--Container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.TabView--Header {
  overflow: hidden;
}

.TabView--Tabs {
  list-style: none;
  height: 101%;
}

.TabView--Tab,
.TabView--Tab[data-active="true"] {
  display: table-cell;
  width: 18%;
  cursor: pointer;
  height: 100%;
}

.TabView--Tab:nth-last-child(2) {
  border-right: none;
}

.TabView--Tab:nth-last-child(1) {
  border-right: none;
}

.TabView--more {
  display: none;
}

.TabView--Views {
  height: 100%;
  position: relative;
  left: 0;
}

.TabView--View {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: left 0.5s ease-in-out 0.5s;
  left: 100%;
}

.TabView--View[data-active="true"] {
  transition-delay: 0s;
  z-index: 1;
  left: 0px;
}

.TabView--View--Content {
  height: 100%;
  width: 25%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
